body {
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#game-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(var(--grid-rows), 1rem);
    grid-template-columns: repeat(var(--grid-cols), 1rem);
    justify-content: center;
}

.grid-item {
    padding: 2rem;
    border: 1px solid #ddd;
    text-align: center;
}

.title {
    font-size: 3rem;
    font-family: sans-serif;
    padding: 3%;

}

.button {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}